.additional-products {
  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

//.additional-products__wrapper

.additional-products__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $title-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.additional-products__list {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding-left: 110px;
  }
}

.additional-products__item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    border: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.name-product__order {
  display: flex;
  width: 280px;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
