.additional-products {
  @media (min-width: $tablet-width) {
    padding-top: 53px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 82px;
  }
}

.additional-products__wrapper {
  margin: 0 auto;
}

.additional-products__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $title-text;
  margin: 0;
  padding-left: 20px;
  position: relative;
  background-color: $basic-bg;
  width: fit-content;
  box-shadow: 20px 0 0 $basic-bg;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-left: 68px;
    box-shadow: -40px 0 0 $basic-bg, 40px 0 0 $basic-bg;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 0;
    margin-right: auto;
  }
}

.additional-products__title::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $accent-color;
  width: calc(100vw - 22px);
  top: 39px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 39px;
    box-shadow: -100vw 0 0 $accent-color;
  }

  @media (min-width: $desktop-width) {
    top: 17px;
  }
}

.additional-products__list {
  list-style-type: none;
  padding-top: 35px;
  padding-left: 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding: 0;
    margin-top: 85px;
  }
}

.additional-products__item {
  width: 280px;
  border-top: 1px solid #cdcdcd;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 15px 0 17px;
    align-items: center;
    justify-content: space-between;
  }
}

.additional-products__present {
  width: 280px;
  height: 290px;
  margin: 35px auto;

  @media (min-width: $tablet-width) {
    width: 707px;
    height: auto;
    min-height: 200px;
    padding-top: 56px;
    margin-top: 69px;
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    margin-top: 109px;
    padding-top: 57px;
    padding-left: 40px;
    padding-right: 42px;
    padding-bottom: 43px;
  }
}
