.adress {
  background-color: $element-bg;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: $element-bg;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 565px 565px auto;
  }
}

.adress__invitation {
  display: flex;
  width: 320px;
  padding: 26px 20px;
  background-color: $element-bg;
  gap: 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    width: 628px;
    margin: 0 auto;
  }
}

.adress--index {
  background-color: $basic-bg;
}

.adress__invitation--index {
  background-color: $basic-bg;
}

.adress__starting-view {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    width: 565px;
    align-self: center;
    background-color: $basic-bg;
    padding-left: 80px;
    padding-right: 74px;
  }
}

.adress__slogan {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.adress__office {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 157px;
    text-align: end;
    font-size: 16px;
  }
}

.adress__office-space {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    display: flex;
    padding-left: 29px;
  }
}

.adress__location {
  width: 100%;
  height: 362px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

iframe {
  display: block;
  width: 100%;
  height: 362px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}
