.adress__invitation {
  display: flex;
  padding: 20px 26px;
}

.adress__slogan {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
}

.adress__office {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.adress__location {
  width: 320px;
  height: 362px;
}
