.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 324px;
    background-color: $element-bg;
    margin-top: 142px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 245px;
    background-color: $element-bg;
  }
}

.catalog__item-image-wrapper {
  justify-self: end;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__item-foto {
  width: 140px;
  height: 107px;
  justify-self: end;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -80px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__item-plus {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.catalog__item-description {
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__item-title {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 21px;
  }
}

.catalog__item-title-link {
  text-decoration: none;
}

.catalog__item--text-all {
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    padding-bottom: 25px;
  }
}

.catalog__item--text-all::before {
  background-image: url("../img/icons/stack.svg#extra-plus");
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icons/stack.svg#extra-plus-tablet");
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    margin-top: 15px;
  }
}

.catalog__item-text {
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $text-color;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto 10px;
  }
}

.catalog__item-specifications {
  margin: 0;
  padding-top: 14px;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    max-width: 100%;
  }
}

.catalog__item-specification {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-order {
  display: block;
  width: 280px;
  grid-column: 1/-1;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__item--all {
  display: block;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    background-color: $basic-bg;
    border: 2px solid $element-bg;
    display: grid;
  }
}
