.features {
  padding-top: 20px;
  background-color: $basic-bg;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    border-bottom: 1px solid #e6e6e6;
    background: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.features__wrapper {
  padding: 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1220px;
    margin: 0 auto;
  }
}

.features__work {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $title-text;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 90px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 97px 137px;
    counter-reset: feature-counter;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    gap: 73px;
  }
}

.features__item::before {
  @media (min-width: $tablet-width) {
    content: counter(feature-counter);
    counter-increment: feature-counter;
    position: absolute;
    font-family: $title-font;
    font-size: 280px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    color: $element-bg;
    z-index: -1;
    right: 0;
    bottom: 60px;
  }
}

.features__item {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-color;
  margin-bottom: 20px;
  min-width: 60px;
  padding-left: 80px;
  background-size: 60px 60px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    background-size: 80px 80px;
    padding-top: 120px;
    padding-left: 0;
    position: relative;
  }
}

.features__item--substances {
  background-image: url("../img/icons/stack.svg#substances");
  background-repeat: no-repeat;
}

.features__item--powder {
  background-image: url("../img/icons/stack.svg#powder");
  background-repeat: no-repeat;
}

.features__item--tableware {
  background-image: url("../img/icons/stack.svg#tableware");
  background-repeat: no-repeat;
}

.features__item--period {
  background-image: url("../img/icons/stack.svg#period");
  background-repeat: no-repeat;
}
