.form__group {
  border: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-top: 65px;
  }
}

//.form__group--line

.form__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $title-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    padding-top: 20px;
  }
}

.form__input {
  min-width: 173px;
  height: 45px;
  border: 1px solid $border-color;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;

  @media (min-width: $tablet-width) {
    min-width: 490px;
  }
}

.form__group-list {
  list-style-type: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 196px;
    border: 1px solid $border-color;
    padding: 0;
    padding-left: 27px;
  }
}

.form__group-optional {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 533px;
    border: none;
    justify-content: space-between;
  }
}

.form__group-item {
  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }
}

.form__control-radio {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
}

//.form__input--email {}

//.form__input--tel {}

//.form__input--textarea {}

//.form__group-wrapper {}

//.form__checkbox {}

.form__request {
  width: 280px;
  border: none;
  margin-left: 20px;
}

.form__required-fields {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $title-text;
  margin: 0;
}
