.form__group {
  border: none;
}

//.form__group--line

.form__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $title-text;
}

.form__label {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
}

.form__input {
  min-width: 173px;
  height: 45px;
  border: 1px solid $border-color;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
}

.form__group-list {
  list-style-type: none;
}

//.form__group-item {}

.form__control-radio {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
}

//.form__input--email {}

//.form__input--tel {}

//.form__input--textarea {}

.form__group-wrapper {
  display: flex;
}

//.form__checkbox {}

.form__request {
  width: 280px;
  border: none;
  margin-left: 20px;
}

.form__required-fields {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $title-text;
}
