.form__group {
  border: none;
  margin: 0;
  padding: 10px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 628px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1220px;
  }
}

.form__group--data {
  padding-top: 15px;
}

.form__group--pd-left {
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-top: 65px;
  }
}

.form__group--comments {
  padding-top: 0;
}

.form__group--option {
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    width: 570px;
  }
}

.form__group-tablet {
  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding-left: 70px;
    padding-bottom: 60px;
    gap: 60px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 80px;
    gap: 78px;
  }
}

.form__group-full {
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.form__group--style-line {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $title-text;
  margin-bottom: 35px;
  display: block;
  padding-top: 17px;
  position: relative;
  background-color: $basic-bg;
  width: fit-content;
  box-shadow: 20px 0 0 $basic-bg;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 44px;
    box-shadow: -40px 0 0 $basic-bg, 40px 0 0 $basic-bg;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 70px;
  }
}

.form__title--feedback {
  padding-top: 13px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    margin-bottom: 79px;
  }
}

.form__title::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $accent-color;
  width: calc(100vw - 22px);
  top: 43px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 92px;
    box-shadow: -100vw 0 0 $accent-color;
  }

  @media (min-width: $desktop-width) {
    top: 72px;
  }
}

.form__title--feedback::before {
  top: 28px;

  @media (min-width: $tablet-width) {
    top: 67px;
  }

  @media (min-width: $desktop-width) {
    top: 72px;
  }
}

.form__title--option {
  width: 190px;
  padding-top: 27px;
  padding-left: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 520px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
    margin-bottom: 21px;
  }
}

.form__title--option::before {
  @media (min-width: $tablet-width) {
    top: 86px;
  }

  @media (min-width: $desktop-width) {
    top: 60px;
  }
}

.form__title--other {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.form__title--other::before {
  top: 33px;

  @media (min-width: $tablet-width) {
    top: 83px;
  }

  @media (min-width: $desktop-width) {
    top: 88px;
  }
}

.form__title--no-visible {
  padding: 0;
  margin: 0;
}

.form__group-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form__label {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
  display: flex;
  gap: 13px;
  margin-bottom: 12px;
  align-items: center;
  position: relative;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 20px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 570px;
    font-size: 20px;
    padding-top: 0;
  }
}

.form__label--radio {
  padding-top: 2px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 5px;
    gap: 18px;
  }
}

.form__label--weight {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: -10px;
  }
}

.form__label--pd-top {
  padding-top: 2px;
  gap: 9px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    gap: 7px;
  }
}

.form__label--other {
  gap: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    gap: 19px;
  }
}

.form__label:has(.form__input:disabled) {
  opacity: 0.3;
}

//замена цвета при изменении состояния

.form__label:has(.form__input:focus-visible)::after {
  background: $accent-color;
}

.form__label:has(.form__input:user-invalid)::after {
  background: #ff8282;
}

.form__label span {
  @media (min-width: $desktop-width) {
    flex-shrink: 0;
  }
}

.form__control-radio {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin: 0;
  }
}

.form__control-radio:hover {
  border-color: #dadada;
}

.form__control-radio:checked::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: $accent-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__label:has(.form__control-radio:disabled) {
  opacity: 0.6;
}

.form__checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__checkbox:checked {
  background-image: url("../img/icons/stack.svg#checkbox-mobile");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;
}

.form__checkbox:hover {
  border-color: #dadada;
}

.form__label:has(.form__checkbox:disabled) {
  opacity: 0.6;
}

.form__input {
  min-width: 168px;
  height: 45px;
  border: 1px solid $border-color;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
  flex-grow: 1;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-width: 490px;
    height: 52px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 434px;
    padding-left: 20px;
  }
}

.form__input--pd-left {
  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}

.form__input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.form__input[type="number"]::-webkit-outer-spin-button,
.form__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.form__input:hover {
  border-color: #cdcdcd;
}

.form__input:focus-visible {
  outline: 2px solid $text-color;
}

.form__input:user-invalid {
  outline: #ff8282 1px solid;
}

.form__input--option {
  @media (min-width: $desktop-width) {
    min-width: 461px;
  }
}

.form__input--textarea {
  width: 280px;
  min-height: 150px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    width: 628px;
    min-height: 174px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    min-height: 175px;
  }
}

.form__group-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    border: 1px solid $border-color;
    padding: 0 28px 0;
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 3px 27px 0;
    padding-left: 13px;
  }
}

.form__group-list--pd {
  @media (min-width: $tablet-width) {
    padding: 21px 27px 12px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 27px 9px;
  }
}

.form__group-optional {
  padding-top: 14px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    width: 628px;
    border: none;
    justify-content: space-between;
    padding: 0 0 4px 0;
    column-gap: 25px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(3, 305px) 247px;
    column-gap: 20px;
  }
}

.form__group-item {
  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }
}

.form__group-item--optional {
  width: 280px;
}

.form__group-full--option {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.form__label--email::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #666666;
  mask-image: url("../img/icons/stack.svg#e-mail-icons");
  mask-repeat: no-repeat;
  mask-position: right;
  position: absolute;
  right: 12px;

  @media (min-width: $tablet-width) {
    right: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 16px;
  }
}

.form__label--email::after:focus {
  background-color: $accent-color;
}

.form__label--tel::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #666666;
  mask-image: url("../img/icons/stack.svg#phone-icons");
  mask-repeat: no-repeat;
  mask-position: right;
  position: absolute;
  right: 14px;
}

.form__label--tel::after:focus {
  background-color: $accent-color;
}

.form__request {
  width: 280px;
  border: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 284px;
    font-size: 20px;
    line-height: 26px;
    padding: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__required-fields {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $title-text;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    padding-left: 0;
  }
}
