.general-button {
  background-color: $accent-color;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $basic-bg;
  text-decoration: none;
  padding: 10px;
  display: block;

  @media (min-width: $desktop-width) {
    padding: 17px;
  }
}

.general-button:hover {
  background-color: #5eaa2f;
}

//.general-button:active {}

.general-button--all {
  background-color: $element-bg;
  color: $text-color;
}
