.general-button {
  background-color: $accent-color;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $basic-bg;
  text-decoration: none;
  padding: 10px;
  display: block;

  @media (min-width: $desktop-width) {
    padding: 17px;
  }
}

.general-button:hover {
  background-color: #5eaa2f;
}

.general-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.general-button--all {
  background-color: $element-bg;
  color: $text-color;
}

.general-button--all:hover {
  background-color: rgba(235, 235, 235, 1);
  color: $text-color;
}

.general-button--all:active {
  background-color: rgba(235, 235, 235, 1);
  color: $text-color;
}
