.main-container {
  flex-grow: 1;
}

.main-container__slogan {
  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-container__title {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $title-text;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    padding-left: 110px;
    margin: 65px auto;
  }
}

.main-container__title-special {
  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-container__text {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $title-text;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 400px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 440px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 66px;
  }
}

.main-container__field {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-container__products {
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    column-gap: 81px;
    padding-bottom: 67px;
  }
}

.main-container__cards {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
