.main-nav {
  background-color: $basic-bg;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__list {
  background-color: $basic-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 436px;
  }
}
