.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 279px;
  padding-left: 20px;
  padding-top: 13px;
}

.main-header__logo {
  display: flex;
  width: 33px;
  height: 38px;
}

.main-header__name {
  display: flex;
  width: 101px;
  height: 18px;
  padding-left: 56px;
  padding-top: 10px;
}
