.main-nav {
  background-color: $basic-bg;
  display: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    max-width: 45%;
  }
}

.main-nav--nojs {
  display: block;
}

.main-nav--opened {
  display: block;
  //display: none;
  position: absolute;
  width: 100%;
  left: 0;

  @media (min-width: $tablet-width) {
    position: static;
    width: auto;
  }
}

.main-nav__list {
  background-color: $basic-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //display: none;

  @media (min-width: $tablet-width) {
    gap: 33px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 33px;
  }
}
