.main-footer {
  background-color: $element-bg;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-footer__name {
  width: 128px;
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.main-footer__social-list {
  min-height: 62px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 132px;
    border: none;
    margin: 0;
    min-height: 22px;
    padding: 0;
    justify-content: space-between;
  }
}

.main-footer__academy-link {
  font-family: $basic-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.main-footer__academy-link::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../img/stack.svg#academy-logo");
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
    margin-top: -5px;
  }
}
