.main-footer {
  display: flex;
  background-color: $basic-grey;
  width: 320px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.main-footer__name {
  display: flex;
  width: 128px;
  height: 24px;
  padding-left: 96px;
  padding-top: 40px;
}

.main-footer__social-list {
  display: flex;
  width: 280px;
  min-height: 62px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__academy-link {
  font-family: "Lato", $basic-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $grey;
  display: flex;
  width: 280px;
  height: 34px;
  justify-content: space-between;
  text-decoration: none;
}
