.main-header {
  background-color: $basic-bg;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 34px;
    padding-top: 25px;
    width: 768px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main-header__wrapper {
  display: flex;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  width: 33px;
  height: 38px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-header__name {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 13px;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../img/icons/header-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
