.main-footer {
  display: flex;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  width: 280px;
  padding: 20px 40px;
}

.main-footer__name {
  display: flex;
  width: 128px;
  height: 24px;
}

.main-footer__social-list {
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__academy-link {
  display: flex;
  width: 280px;
  height: 34px;
  justify-content: space-between;
}
