.name-product__title {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 38px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 161px;
    padding: 0;
    margin-right: auto;
  }
}

.name-product__list {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 41px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 0;
  }
}

.name-product__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 30px;
    padding-top: 4px;
  }
}

.name-product__parameter {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.name-product__parameter--pdright {
  @media (min-width: $tablet-width) {
    padding-right: 9px;
  }
}

.name-product__price {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
  color: $text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    min-width: 42px;
    text-align: left;
  }
}

.name-product__order {
  display: block;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    padding: 10px 0 10px 0;
  }
}
