.name__site-name {
  display: block;
}

.name__site-name:hover {
  opacity: 80%;
}

.name__site-name:active {
  opacity: 60%;
}

.name__img {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 101px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.name__img:hover {
  opacity: 80%;
}

.name__img:active {
  opacity: 60%;
}
