.page__body {
  display: flex;
  background-color: $basic-bg;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.page__body--green-cat::before {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(to bottom,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)) image-set(
      url("../img/big-cat-desktop-1x.webp") type("image/webp") 1x,
      url("../img/big-cat-desktop-2x.webp") type("image/webp") 2x,
      url("../img/big-cat-desktop-1x.png") type("image/png") 1x,
      url("../img/big-cat-desktop-2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.page__header {
  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}
