.parameters__name {
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.parameters__text {
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
