.present {
  background-color: $accent-color;
  background-image: image-set(
    url("../img/cat-in-bag-mobile-1x.webp") type("image/webp") 1x,
    url("../img/cat-in-bag-mobile-2x.webp") type("image/webp") 2x,
    url("../img/cat-in-bag-mobile-1x.png") type("image/png") 1x,
    url("../img/cat-in-bag-mobile-2x.png") type("image/png") 2x
  );

  @media (min-width: $tablet-width) {
    background-image: image-set(
      url("../img/cat-in-bag-tablet-1x.webp") type("image/webp") 1x,
      url("../img/cat-in-bag-tablet-2x.webp") type("image/webp") 2x,
      url("../img/cat-in-bag-tablet-1x.png") type("image/png") 1x,
      url("../img/cat-in-bag-tablet-2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(
      url("../img/cat-in-bag-desktop-1x.webp") type("image/webp") 1x,
      url("../img/cat-in-bag-desktop-2x.webp") type("image/webp") 2x,
      url("../img/cat-in-bag-desktop-1x.png") type("image/png") 1x,
      url("../img/cat-in-bag-desktop-2x.png") type("image/png") 2x
    );
  }
}

.present__text::before {
  background-image: url("../img/icons/stack.svg#present-icon");
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82px;
    margin-left: 76px;
    margin-right: 263px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}

.present__text {
  font-family: $basic-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $basic-bg;
  margin: 0 auto;
  padding-top: 58px;
  width: 161px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
    margin: 0;
    width: 100%;
    padding-right: 125px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}
