.present {
  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $accent-color;
  }
}

.additional-products--present {
  width: 280px;
  height: 290px;
  background-color: $accent-color;
  margin: 35px auto;

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    margin-top: 105px;
    padding-top: 56px;
    padding-left: 42px;
    padding-right: 42px;
  }
}

.present__text::before {
  background-image: url("../img/icons/present-icon.svg");
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.present__text {
  font-family: $basic-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $basic-bg;
  margin: 0 auto;
  padding-top: 55px;
  width: 161px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
    margin: 0;
    width: 100%;
    padding-right: 125px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
}

.present__text span {
  width: 161px;
}
