.product-cards {
  @media (min-width: $tablet-width) {
    margin-top: 84px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    //padding-left: 110px;
    //padding-right: 110px;
  }
}

.main-container__cards {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.product-cards__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

.product-cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    gap: 80px;
  }
}
