.product-cards {
  width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin-top: 84px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding-left: 85px;
  }
}

//.product-cards__wrapper {}

.product-cards__list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 30px;
  }
}
