.programm-cards {
  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 80px;
  }
}

.programm-cards__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    gap: 80px;
    margin: 0 auto;
  }
}

.programm-cards__item {
  width: 280px;
  background-color: $element-bg;

  margin: 20px auto 0;
  padding: 21px 33px 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 374px;
  }
}

.programm-cards__item--weight-loss {
  background-image: url("../img/icons/stack.svg#cat-back-slim");
  background-repeat: no-repeat;
  background-position: 20px 21px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    background-position: 445px 81px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-repeat: no-repeat;
    background-position: 52px 41px;
    background-size: 100px 106px;
  }
}

.programm-cards__item--weight-gain {
  background-image: url("../img/icons/stack.svg#cat-back-pro");
  background-repeat: no-repeat;
  background-position: 20px 21px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    background-position: 411px 81px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-repeat: no-repeat;
    background-position: 52px 41px;
    background-size: 134px 100px;
  }
}
