.programm__head {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-align: center;
}

.programm__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  padding-left: 20px;
}

.programm__catalog {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 18px;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
}
