.programm__head {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $title-text;
  text-align: center;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-left: 20px;
    margin-top: 70px;
    font-size: 36px;
  }
}

.programm__text {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
  margin: 0 0 23px;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 73px;
  }
}

.programm__catalog {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $title-text;
  padding-top: 15px;
  padding-bottom: 18px;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
  display: block;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    font-size: 20px;
    padding-top: none;
    padding-bottom: none;
  }
}
