.programm__head {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $title-text;
  text-align: left;
  margin: 0 0 29px;
  padding-left: 80px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    font-size: 36px;
    padding-top: 77px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
    padding-top: 77px;
    font-size: 36px;
  }
}

.programm__text {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $text-color;
  margin: 0 0 23px;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
    padding-top: 24px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 73px;
    padding-left: 52px;
  }
}

.programm__catalog {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $title-text;
  padding-top: 15px;
  padding-bottom: 18px;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
  display: block;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
    padding-left: 52px;
    padding-top: 48px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    font-size: 20px;
    padding-top: 23px;
    padding-bottom: 0;
  }
}

.programm__catalog:active {
  opacity: 30%;
}

.programm__catalog::after {
  background-image: url("../img/icons/stack.svg#right-arrow-cards");
  content: "";
  display: block;
  width: 24px;
  height: 10px;
  margin-left: 110px;
  margin-top: -12px;
  background-size: 24px 10px;

  @media (min-width: $tablet-width) {
    margin-left: 125px;
  }
}

.programm__catalog::after:hover {
  width: 32px;
  background-size: 32px 10px;
}
