.programm-cards {
  display: flex;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 0px;
  }
}

.programm-cards__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.programm-cards__item {
  width: 280px;
  background-color: $element-bg;
  margin: 20px auto 0;
  padding: 21px 33px 22px 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 374px;
  }
}
