.result {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $element-bg 462px, $basic-bg 462px);
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.result__content {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }
}

.result__wrapper {
  padding-top: 25px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 69px;
  }
}

.result__example {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $title-text;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 0;
  }
}

.result__text {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-color;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-top: 146px;
    padding: 0;
  }
}

.result__list-transform {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.result__list {
  gap: 32px;
  width: 280px;
  display: flex;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 370px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    margin-top: 69px;
  }
}

.result__expenses {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $title-text;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 180px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    margin-top: 69px;
  }
}

.result__price {
  @media (min-width: $desktop-width) {
    padding-left: 63px;
  }
}

.result__slider {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 140px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin-top: 99px;
    margin-bottom: 101px;
    display: grid;
    grid-template-columns: 280px 280px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 560px;
    height: 512px;
  }
}

.result__slider-before {
  width: 140px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.result__slider-before-cat {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.result__slider-after {
  width: 140px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.result__slider-after-cat--option {
  transform: translateX(-50%);
}

.result__slider-after-cat {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.result__slider-button {
  width: 4px;
  height: 256px;
  padding: 0;
  background: #666666;
  border: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.result__slider-button:hover {
  background: $accent-color;
}

.result__slider-button:active {
  opacity: #5eaa2f;
}

.result__slider-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: $basic-bg;
  border-radius: 50%;
  border: 2px solid #666666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result__slider-button:hover::before {
  opacity: $accent-color;
}

.result__slider-button:active::before {
  opacity: #5eaa2f;
}

.result__slider-button::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 18px;
  background: #666666;
  mask: url("../img/icons/stack.svg#double-triangle");
  mask-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result__slider-button:hover::after {
  background: $accent-color;
}

.result__slider-button:active::after {
  background: #5eaa2f;
}
