.result {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: $basic-bg;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1440px;
    margin-top: 69px;
  }
}

.result__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.result__example {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $title-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.result__text {
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    width: 433px;
    margin-top: 146px;
  }
}

.result__list-transform {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.result__list {
  gap: 20px;
  width: 280px;
  min-height: 70px;
  display: flex;

  @media (min-width: $desktop-width) {
    width: 370px;
    margin-top: 69px;
  }
}

.result__expenses {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $title-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 180px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    margin-top: 69px;
  }
}

.result__price {
  @media (min-width: $desktop-width) {
    padding-left: 63px;
  }
}

.result__slider {
  padding-top: 20px;
  width: 280px;
  height: 256px;
  padding-bottom: 40px;
}
