.site-list {
  list-style-type: none;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-list__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: inline;
    border-top: none;
    justify-content: space-between;
  }
}

.site-list__link {
  text-decoration: none;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $title-text;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 8px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.site-list__link:hover {
  opacity: 60%;
}

.site-list__link:active {
  opacity: 30%;
}

.site-list__link--current::after:current {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 2px;
    color: $accent-color;
    padding-top: 10px;
  }
}

.site-list__link--white::after:current {
  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    height: 2px;
    color: $basic-bg;
    padding-top: 10px;
  }
}

.site-list__link--green-cat {
  @media (min-width: $desktop-width) {
    color: $basic-bg;
  }
}
