.social {
  display: flex;
}

.social__item {
  list-style-type: none;
}

.social__link {
  display: block;
  text-decoration: none;
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;
}

.social__link--vkontakte::before {
  mask-image: url("../img/icons/stack.svg#vk-icon");
  mask-repeat: no-repeat;
}

.social__link--youtube::before {
  mask-image: url("../img/icons/stack.svg#youtube-icon");
  mask-repeat: no-repeat;
}

.social__link--telegram::before {
  mask-image: url("../img/icons/stack.svg#tg-icon");
  mask-repeat: no-repeat;
}

.social__link:hover::before, .social__link:focus-visible::before {
  background-color: $accent-color;
}
