.social {
  display: flex;
}

.social__item {
  list-style-type: none;
}

//.social__link {}

.social__link--vkontakte {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/vk-icon.svg");
  background-repeat: no-repeat;
}

.social__link--youtube {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/youtube-icon.svg");
  background-repeat: no-repeat;
}

.social__link--telegram {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/tg-icon.svg");
  background-repeat: no-repeat;
}
