html {
  height: 100%;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general-button {
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

.general-button--all {
  background-color: #f2f2f2;
  color: #444444;
}
@media (min-width: 768px) {
  .general-button--all {
    margin-top: 82px;
  }
}

.page__body {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

.main-header {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-header {
    padding-left: 30px;
    padding-right: 34px;
    padding-top: 25px;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main-header__logo {
  width: 33px;
  height: 38px;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .main-header__logo {
    padding-left: 0;
  }
}

.main-header__name {
  width: 101px;
  height: 18px;
  padding-left: 56px;
}
@media (min-width: 768px) {
  .main-header__name {
    padding-left: 13px;
  }
}

.main-header__toggle {
  margin-left: 55px;
  margin-top: 10px;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../img/icons/header-menu.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}

.main-nav {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav {
    margin-left: auto;
  }
}

.main-nav__list {
  background-color: #ffffff;
  width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 436px;
  }
}

.site-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.site-list__item {
  display: flex;
  border-top: 1px solid #e6e6e6;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-list__item {
    display: inline;
    border-top: none;
    justify-content: space-between;
  }
}

.site-list__link {
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 8px;
  display: block;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-container {
  flex-grow: 1;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-container {
    width: 709px;
  }
}

.main-container__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  padding-left: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .main-container__title {
    font-size: 60px;
    margin-top: 65px;
    padding-left: 70px;
  }
}
@media (min-width: 1200px) {
  .main-container__title {
    font-size: 60px;
    margin-top: 65px;
    padding-left: 110px;
  }
}

.main-container__text {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #000000;
  padding-left: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .main-container__text {
    margin-top: 54px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 110px;
  }
}
@media (min-width: 1200px) {
  .main-container__text {
    margin-top: 54px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 110px;
  }
}

.promo {
  padding-left: 20px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__title {
    color: #000000;
    font-weight: 400;
    font-size: 40px;
    width: 414px;
    line-height: 60px;
    padding-left: 80px;
  }
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__product {
  width: 280px;
  height: 270px;
}
@media (min-width: 768px) {
  .promo__product {
    width: 709px;
    height: 609px;
  }
}

.promo__programm-selection {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__programm-selection {
    width: 244px;
    display: flex;
  }
}

.programm-cards {
  display: flex;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .programm-cards__wrapper {
    display: flex;
    gap: 80px;
  }
}

.programm-cards__item {
  width: 280px;
  background-color: #f2f2f2;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .programm-cards__item {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .programm-cards__item {
    width: 570px;
    min-height: 374px;
  }
}

.programm__head {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .programm__head {
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .programm__head {
    text-align: center;
    padding-left: 20px;
    margin-top: 70px;
    font-size: 36px;
  }
}

.programm__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  padding-left: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .programm__text {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .programm__text {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 73px;
  }
}

.programm__catalog {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 18px;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programm__catalog {
    border: none;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .programm__catalog {
    border: none;
    font-size: 20px;
    padding-top: none;
    padding-bottom: none;
  }
}

.features {
  margin-top: 20px;
  background-color: #ffffff;
}

.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.features__work {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .features__work {
    font-size: 60px;
  }
}

.features__list {
  list-style-type: none;
  padding-bottom: 49px;
  margin: 0;
}
@media (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .features__list {
    display: flex;
    width: 1220px;
  }
}

.features__item {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .features__item {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}

.result {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .result {
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .result {
    display: flex;
    width: 1440px;
    margin-top: 69px;
  }
}

.result__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}
@media (min-width: 1200px) {
  .result__wrapper {
    padding-left: 110px;
  }
}

.result__example {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .result__example {
    font-size: 60px;
  }
}

.result__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .result__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .result__text {
    width: 433px;
    margin-top: 146px;
  }
}

@media (min-width: 768px) {
  .result__list-transform {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .result__list-transform {
    display: block;
  }
}

.result__list {
  gap: 20px;
  width: 280px;
  min-height: 70px;
  display: flex;
}
@media (min-width: 1200px) {
  .result__list {
    width: 370px;
    margin-top: 69px;
  }
}

.result__expenses {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .result__expenses {
    font-size: 20px;
    width: 180px;
    text-align: end;
  }
}
@media (min-width: 1200px) {
  .result__expenses {
    width: 100%;
    text-align: left;
    margin-top: 69px;
  }
}

@media (min-width: 1200px) {
  .result__price {
    padding-left: 63px;
  }
}

.result__slider {
  padding-top: 20px;
  width: 280px;
  height: 256px;
  padding-bottom: 40px;
}

.progress__item {
  width: 124px;
  min-height: 70px;
}
@media (min-width: 1200px) {
  .progress__item {
    width: 162px;
  }
}

.progress__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .progress__number {
    font-size: 37px;
  }
}

.progress__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .progress__description {
    font-size: 14px;
    padding-top: 11px;
  }
}

@media (min-width: 768px) {
  .adress {
    width: 768px;
  }
}

.adress__invitation {
  display: flex;
  padding: 20px 26px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .adress__invitation {
    width: 628px;
    justify-content: space-between;
  }
}

.adress__starting-view {
  background-color: #ffffff;
}

.adress__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .adress__slogan {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.adress__office {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .adress__office {
    width: 157px;
    text-align: end;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .adress__office-space {
    padding-top: 10px;
    display: flex;
    padding-left: 44px;
  }
}

.adress__location {
  width: 320px;
  height: 362px;
  display: block;
}
@media (min-width: 768px) {
  .adress__location {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .adress__location {
    width: 1440px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-footer {
    min-height: 147px;
  }
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 708px;
    min-height: 37px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.main-footer__name {
  width: 128px;
  height: 24px;
  padding-top: 40px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__name {
    padding-top: 7px;
    margin-left: 0;
  }
}

.main-footer__social-list {
  min-height: 62px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-footer__social-list {
    width: 132px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 22px;
    padding-top: 8px;
    justify-content: space-between;
  }
}

.main-footer__academy-link {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
  display: flex;
  height: 34px;
  justify-content: space-between;
  text-decoration: none;
}

.social {
  display: flex;
}

.social__item {
  list-style-type: none;
}

.social__link--vkontakte {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/vk-icon.svg");
  background-repeat: no-repeat;
}

.social__link--youtube {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/youtube-icon.svg");
  background-repeat: no-repeat;
}

.social__link--telegram {
  display: block;
  text-decoration: none;
  width: 28px;
  height: 22px;
  background-image: url("../img/icons/tg-icon.svg");
  background-repeat: no-repeat;
}

.product-cards {
  width: 320px;
}
@media (min-width: 768px) {
  .product-cards {
    min-width: 768px;
    margin-top: 84px;
  }
}
@media (min-width: 1200px) {
  .product-cards {
    min-width: 1220px;
    padding-left: 85px;
  }
}

.product-cards__list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .product-cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 30px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .catalog__item {
    display: block;
    width: 324px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog__item {
    display: block;
    width: 245px;
    background-color: #f2f2f2;
  }
}

.catalog__item-foto {
  width: 140px;
  height: 107px;
}
@media (min-width: 768px) {
  .catalog__item-foto {
    width: 200px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (min-width: 768px) {
  .catalog__item-plus {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (min-width: 768px) {
  .catalog__item-description {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .catalog__item-description {
    width: 169px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__item-title {
    text-align: center;
    width: 135px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 21px;
  }
}

.catalog__item-text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__item-text {
    width: 170px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__item-specifications {
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__item-specifications {
    margin-bottom: 32px;
  }
}

.catalog__item-specification {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__item-specification {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-order {
  display: block;
  width: 280px;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .catalog__item-order {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .catalog__item-order {
    width: 169px;
  }
}

@media (min-width: 768px) {
  .catalog__item-all {
    height: 429px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}

.parameters__name {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .parameters__name {
    font-size: 16px;
  }
}

.parameters__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .parameters__text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .additional-products {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .additional-products {
    display: flex;
  }
}

.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .additional-products__title {
    padding-left: 110px;
  }
}

.additional-products__list {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-products__list {
    width: 708px;
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .additional-products__list {
    width: 896px;
    padding-left: 110px;
  }
}

.additional-products__item {
  width: 280px;
}
@media (min-width: 768px) {
  .additional-products__item {
    width: 708px;
    border: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .additional-products__item {
    display: flex;
  }
}

.name-product__order {
  display: flex;
  width: 280px;
}
@media (min-width: 1200px) {
  .name-product__order {
    width: 244px;
  }
}

.name-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  margin: 0;
}
@media (min-width: 768px) {
  .name-product__title {
    font-size: 20px;
    padding-left: 38px;
    padding-top: 26px;
  }
}
@media (min-width: 1200px) {
  .name-product__title {
    text-align: left;
    padding-left: 1px;
  }
}

.name-product__list {
  margin: 0;
}
@media (min-width: 768px) {
  .name-product__list {
    padding-right: 38px;
    padding-top: 28px;
  }
}
@media (min-width: 1200px) {
  .name-product__list {
    width: 285px;
  }
}

.name-product__item {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .name-product__item {
    justify-content: center;
  }
}

.name-product__parameter {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #444444;
}
@media (min-width: 768px) {
  .name-product__parameter {
    font-size: 16px;
  }
}

.name-product__price {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .name-product__price {
    font-size: 16px;
  }
}

.name-product__order {
  display: block;
  width: 280px;
}
@media (min-width: 768px) {
  .name-product__order {
    width: 632px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    margin-top: 25px;
    grid-column: 1/-1;
  }
}

@media (min-width: 1200px) {
  .present {
    display: flex;
    width: 245px;
    height: 288px;
    background-color: #68b738;
    margin-top: 105px;
  }
}

.present__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 1200px) {
  .present__text {
    width: 245px;
    padding-top: 185px;
  }
}

.form__group {
  border: none;
  margin: 0;
}
@media (min-width: 768px) {
  .form__group {
    width: 628px;
    margin-top: 65px;
  }
}
@media (min-width: 1200px) {
  .form__group {
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .form__group-tablet {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .form__group-tablet {
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .form__group-full {
    display: flex;
  }
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
}
@media (min-width: 768px) {
  .form__label {
    display: block;
    font-size: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .form__label {
    width: 570px;
    display: block;
    font-size: 20px;
    padding-top: 20px;
  }
}

.form__input {
  min-width: 173px;
  height: 45px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
}
@media (min-width: 768px) {
  .form__input {
    min-width: 490px;
  }
}
@media (min-width: 1200px) {
  .form__input {
    min-width: 440px;
  }
}

.form__group-list {
  list-style-type: none;
  margin: 0;
}
@media (min-width: 768px) {
  .form__group-list {
    width: 628px;
    height: 196px;
    border: 1px solid #e7e7e7;
    padding: 0;
    padding-left: 27px;
  }
}
@media (min-width: 1200px) {
  .form__group-list {
    width: 570px;
  }
}

@media (min-width: 768px) {
  .form__group-optional {
    display: flex;
    flex-wrap: wrap;
    width: 533px;
    border: none;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .form__group-optional {
    display: flex;
    width: 1220px;
  }
}

@media (min-width: 768px) {
  .form__group-item {
    padding-right: 50px;
  }
}

.form__control-radio {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

@media (min-width: 1200px) {
  .form__input--textarea {
    width: 1220px;
    min-height: 175px;
  }
}

.form__request {
  width: 280px;
  border: none;
  margin-left: 20px;
}

.form__required-fields {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.name__img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */