$basic-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;
$accent-color: #68b738;
$title-text: #000000;
$basic-bg: #ffffff;
$element-bg: #f2f2f2;
$text-color: #444444;
$border-color: #e7e7e7;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
